nav {
   text-transform: uppercase;
   background-color: rgb(19, 7, 66);
   /* width: 40rem; */ /* 40rem is really wide and forcing your page to be wider than the browser window */ 
}

nav ul {
   display: flex;
   justify-content: space-between;
   margin: 2rem 1rem 1rem 1rem;
   padding: 1rem;
}

nav li {
   padding: 1em;
   list-style-type: none;
}

nav li a {
   padding: 12px;
   text-decoration: none;
   color: white;
   border-radius: 5px;
   border: 2px solid black;
   background-color: rgb(51, 42, 86);
}

nav li a:hover {
   background: black;
}

body {
   background-color: rgb(10, 4, 32);
}

h1 {
   color: white;
   text-align: center;
   /* margin-top: 4em; */
   font-size: 200%;
}

img {
   max-width: 100%;
   /* Images should be MAX-width to make them responsive. */
}

/* section img{
   border-radius: 100rem;
   scale: 10%; }*/

iframe {
   max-width:100%; /* MAX-width, not width */
   height: 15em;
   margin: 2em;
}
